= form_for @team, :html => {:class => 'form-horizontal'} do |f|
  - if @team.errors.any?
    #error_explanation
      %h2
        = pluralize(@team.errors.count, "error")
        prohibited this team from being saved:
      %ul
        - @team.errors.full_messages.each do |message|
          %li= message
  = f.hidden_field :id
  .form-group
    = f.label :name, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :name, {:class => 'form-control'}
  .form-group
    = f.label :description, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_area :description, {:class => 'form-control'}
  .form-group
    = f.label :long_name, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :long_name, {:class => 'form-control', :disabled => true}
  -if is_admin?
    .admin-action-container
      .form-group
        = f.label :division_id, {:class => 'col-sm-2 control-label'}
        .col-sm-10
          - selected_division = nil
          - if @team 
            - selected_division = @team.division
          = render :partial => 'shared/forms/division_selector', :locals => {:seasons => @seasons, :selected_division => selected_division, :selector_name => 'team[division_id]', :selector_id => 'team_division_id'}
      .form-group
        = f.label :stat_loss, {:class => 'col-sm-2 control-label'}
        .col-sm-10
          = f.number_field :stat_loss, {:class => 'form-control'}
      .form-group
        = f.label :stat_win, {:class => 'col-sm-2 control-label'}
        .col-sm-10
          = f.number_field :stat_win, {:class => 'form-control'}
      .form-group
        = f.label :stat_play, {:class => 'col-sm-2 control-label'}
        .col-sm-10
          = f.number_field :stat_play, {:class => 'form-control'}
      .form-group
        = f.label :stat_pt_allowed, {:class => 'col-sm-2 control-label'}
        .col-sm-10
          = f.number_field :stat_pt_allowed, {:class => 'form-control'}
      .form-group
        = f.label :stat_pt_scored, {:class => 'col-sm-2 control-label'}
        .col-sm-10
          = f.number_field :stat_pt_scored, {:class => 'form-control'}
      .form-group
        = f.label :stat_tie, {:class => 'col-sm-2 control-label'}
        .col-sm-10
          = f.number_field :stat_tie, {:class => 'form-control'}

  .form-group
    .col-sm-2.control-label
      %b Team Roster
    .col-sm-10
      = render :partial => 'teams/roster_list', :locals => {:rosters => @rosters}
      .btn.btn-success.js-show-add-new-player-modal
        %i.fa.fa-user
        Add New Player

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', {:class => 'btn btn-primary'}

= render :partial => 'teams/add_new_player_modal'