
-if team.description
  .well.well-sm= raw(team.description)
%table.table.table-bordered
  %tr
    %th Wins
    %th Losses
    %th Ties
    %th Games Played
    %th Runs Scored
    %th Runs Allowed
  %tr
    %td= team.stat_win
    %td= team.stat_loss
    %td= team.stat_tie
    %td= team.stat_play
    %td= team.stat_pt_scored
    %td= team.stat_pt_allowed

-if teamsRosters.length > 0
  = render :partial => 'teams/roster', :locals => {:rosters => teamsRosters}
-if teamsSponsors.length > 0
  = render :partial => 'teams/sponsors', :locals => {:sponsors => teamsSponsors}
-if games.length > 0
  = render :partial => 'teams/schedule', :locals => {:games => games, :team => team}
