- content_for :panel_head do
  %h1 Teams
  = render partial: 'shared/actions/view_all_actions', locals: { newPath: new_team_path}
  


%table.table.table-striped.table-condensed.table-bordered.js-fields-table
  %tr
    %th Season
    %th Division
    %th Name
    %th Manager
    - if is_admin?
      %th.actions-column
  - @teams.each do |team|
    %tr
      %td
        -if team.division_id && team.division
          -if team.division.season_id
            =link_to "#{team.division.season.description}", team.division.season
      %td
        -if team.division_id && team.division
          = link_to "#{team.division.description}" , team.division
      %td
        =link_to team.name, team
        - if is_admin?
          - if team.teamsnap_id
            %span.small-text 
              (team imported from teamsnap)
              = team.teamsnap_id
      %td{:class => team ? '' : 'danger danger-column'}= render partial: "teams/managers_list", locals: { team: team}
      - if is_admin?
        %td
          = render partial: "shared/actions/table_actions", locals: { editPath: edit_team_path(team), deletePath: team}