- content_for :panel_head do
  .team-details-container.pull-left
    = link_to 'View All Teams', teams_path, {:class =>'btn btn-default'}
    - if is_team_manager? (@team.id)
      =link_to 'Edit Team', edit_team_path(@team), {:class =>'btn btn-default'}
    %h1= @team.name
    %h4= link_to "#{@team.division.season.description} #{@team.division.description}", @team.division
  .team-admin-container.pull-right
    = render partial: "teams/managers_list", locals: { team: @team}
    = render partial: "teams/reps_list", locals: { team: @team}

= render 'team', :team => @team, :teamsSponsors => @teamSponsors, :teamsRosters => @teamsRosters, :games => @games
