= form_for @season,:html => {:class => 'form-horizontal'} do |f|
  - if @season.errors.any?
    #error_explanation
      %h2= "#{pluralize(@season.errors.count, "error")} prohibited this season from being saved:"
      %ul
        - @season.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :description, 'Name', {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :description, {:class => 'form-control'}
  .form-group
    = f.label :date_start, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.datetime_select :date_start, {:class => 'form-control'}
  .form-group
    = f.label :date_end, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.datetime_select :date_end, {:class => 'form-control'}
  .form-group
    .col-sm-offset-2.col-sm-10
      .alert.alert-warning
        A User can only add games to an active season and edit players on a team in an active season.
      .checkbox
        %label
          = f.check_box :is_active
          Is Active Season?
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', {:class => 'btn btn-primary'}
