- content_for :panel_head do
  %h1
    = @season.description
    - if !@season.is_active
      %span.inactive-season (archived season)
  = render partial: "shared/actions/show_actions", locals: { editPath: edit_season_path(@season), fieldName: 'Field', allPath: seasons_path}
  - if is_admin?
    = link_to '+ Add Division', new_division_path(:season_id => @season.id), :class => 'btn btn-default'
    = link_to raw('<i class="fa fa-upload"></i> Import Teamsnap Divisions'), '/teamsnap/divisions/import', {:class => 'btn btn-default'}

- @divisions.each do |division|
  = render '/divisions/division', :division => division