-if defined?(showCard) && showCard
  .col-md-2
    .profile-card
      -if profile.long_image_url
        .card-img-logo
          %img{:src => profile.long_image_url}

.col-md-7.profile-details.js-profile-details{:data => {:name => profile.name, :id => profile.id}}
  %p
    %b First name:
    = profile.first_name
  %p
    %b Last name:
    = profile.last_name
  -if is_logged_in?
    %p
      %b Email:
      = profile.email
  %p
    %b DOB:
    = profile.dob
  -if is_current_user_or_admin?(profile.id)
    %p 
      %b Address
      %p= profile.address
      %p= profile.address2
      %p= "#{profile.city}, #{profile.state} #{profile.zip}"
  %p
    %b Available for Tournaments?
    - if profile.is_pickup_player
      Yes
    - else
      No
    -if is_current_user_or_admin?(profile.id)
      .well
        -if profile.emergency_contact_phone.blank?
          %h5 No Emergency Contact Information Found! Please Update this now!
        - else
          %p
            %b Emergency Contact Name: 
            = profile.emergency_contact_name
          %p
            %b Emergency Contact Relationship: 
            = profile.emergency_contact_relationship
          %p
            %b Emergency Contact Phone: 
            = profile.emergency_contact_phone
  - if profile.rosters.length > 0
    %b Teams:
    %ul
      -profile.rosters.each do |roster|
        - team = roster.team
        - divison = team.division
        %li=link_to raw("#{team.name} <span>(#{divison.description} #{divison.season.description}</span>)"), team
  -if profile.board_members.length > 0
    Board Positions:
    %ul
      -profile.board_members.each do |board_member|
        %li=link_to board_member.position, board_member
  -if profile.committees.length > 0
    Committees:
    %ul
      -profile.committees.each do |committee|
        %li=link_to committee.name, committee

.col-md-3
  %b Player Ratings
  - if @asana_rating.present?
    .asana_rating
      %b ASANA Rating:
      %br
      - if permissions.present? && has_permissions?(permissions[:CanEditAllRatings])
        =link_to raw("<i class='fa fa-pencil'></i> #{@asana_rating.total}"), @asana_rating, :class => 'btn btn-default'
      - else
        =@asana_rating.total
  - else
    %br
    =link_to 'Add ASANA Rating', "/asana_rating_to_profile/#{profile.id}", :class => 'btn btn-default'