= form_for @profile,:html => {:class => 'form-horizontal'} do |f|
  - if @profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
      %ul
        - @profile.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :first_name, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :first_name, {:class => 'form-control'}
  .form-group
    = f.label :last_name, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :last_name, {:class => 'form-control'}
  .form-group
    = f.label :email, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :email, {:class => 'form-control'}
  .form-group
    = f.label :phone, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :phone, {:class => 'form-control'}
  .emp-action-container
    %h4 Address
    .form-group
      = f.label :address, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        = f.text_field :address, {:class => 'form-control'}
    .form-group
      = f.label :address2, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        = f.text_field :address2, {:class => 'form-control'}
    .form-group
      = f.label :city, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        = f.text_field :city, {:class => 'form-control'}
    .form-group
      = f.label :state, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        = f.text_field :state, {:class => 'form-control'}
    .form-group
      = f.label :zip, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        = f.text_field :zip, {:class => 'form-control'}
  .form-group
    = f.label :long_image_url, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :long_image_url, {:class => 'form-control'}
  .form-group
    = f.label :dob, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :dob, {:class => 'form-control', :placeholder => 'YYYY-MM-DD'}
  .form-group
    = f.label :password, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.password_field :password, {:class => 'form-control'}
  .form-group
    = f.label :password_confirmation, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.password_field :password_confirmation, {:class => 'form-control'}
  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        %label
          = f.check_box :is_pickup_player
          Are You Available For Tournaments?
  .emp-action-container
    %h4 Emergency Contact
    .form-group
      = f.label :emergency_contact_name, 'Name', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        = f.text_field :emergency_contact_name, {:class => 'form-control'}
    .form-group
      = f.label :emergency_contact_relationship, 'Relationship', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        = f.text_field :emergency_contact_relationship, {:class => 'form-control'}
    .form-group
      = f.label :emergency_contact_phone, 'Phone', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        = f.text_field :emergency_contact_phone, {:class => 'form-control', :placeholder => "(xxx) xxx-xxxx"}
  - if is_admin?
    .admin-action-container
      .form-group
        .col-sm-offset-2.col-sm-10
          .alert.alert-danger
            %strong 
              %i.glyphicon.glyphicon-warning-sign
              WARNING
            Site Adminstrators can make changes sitewide to profiles, teams, rosters, games, fields...etc. Please only make knowledgable & technical users Site Adminstrators 
            %br
            (For the ability to edit League data consider making the user a League Administrator on the 
            =link_to 'board members page', board_members_path
            )
          .checkbox
            %label
              = f.check_box :is_admin?
              Is Site Administrator?
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', {:class => 'btn btn-primary'}
