- content_for :panel_head do
  %h1 Profiles
  = render partial: "shared/actions/view_all_actions", locals: { newPath: new_profile_path}

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Profile Id
    %th Name
    %th.actions-column

  - @profiles.each do |profile|
    %tr
      %td= profile.id
      %td
        = link_to "#{profile.first_name} #{profile.last_name}", profile
      %td
        = render partial: "shared/actions/table_actions", locals: { editPath: edit_profile_path(profile), deletePath: profile}
            
