%h1 Profiles

%table.table.table-striped.table-bordered
  %tr
    %th Profile Id
    %th First name
    %th Last name
    %th Display name
    %th Gender
    %th Position
    %th Dob
    %th Team

  - @profiles.each do |profile|
    %tr
      %td= profile.id
      %td= profile.first_name
      %td= profile.last_name
      %td= profile.display_name
      %td= profile.gender
      %td= profile.position
      %td= profile.dob
      %td
        -if profile.team
          = profile.team.name

%br
