- content_for :panel_head do
  %h1 Profiles
  = render partial: "shared/actions/view_all_actions", locals: { newPath: new_profile_path}

.table-filter 
  = will_paginate @profiles
  = form_tag profiles_path, :method => 'get', :id => "profiles_search", :class => 'form-inline' do
    .form-group
      = text_field_tag :search, params[:search], {class: 'form-control', placeholder: 'Search by Name, or Email'}
      = submit_tag "Search", :name => nil, :class => 'btn btn-primary'
  = hidden_field_tag :direction, params[:direction]
  = hidden_field_tag :sort, params[:sort]
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th= sortable 'id', 'Id', false, true
    %th= sortable 'last_name', 'Name', true
    %th= sortable 'email', 'email, true'
    %th.actions-column
    -if is_admin?
      %th Site Admin Actions
  - @profiles.each do |profile|
    %tr
      %td= profile.id
      %td
        = link_to profile.name, profile
        - if !profile.league_admin_positions.empty?
          = render partial: 'shared/icons/league_admin'
        - if !profile.teams_managed.empty?
          = render partial: 'shared/icons/manager'
        - if !profile.teams_repped.empty?
          = render partial: 'shared/icons/rep'
        - if !profile.divisions_repped.empty?
          = render partial: 'shared/icons/division_rep'
        .small-text= profile.last_log_in ? profile.last_log_in.in_time_zone('Eastern Time (US & Canada)').strftime("%Y-%d-%m %H:%M:%S %Z") : 'Never Logged In'
      %td=profile.email
      %td
        = render partial: "shared/actions/table_actions", locals: { editPath: edit_profile_path(profile), deletePath: profile}
      -if is_admin?
        %td
          =link_to raw("<i class='fa fa-user-secret'></i> Impersonate"), impersonate_engine.impersonate_user_path(profile), {:class => 'btn btn-default'}
          
