- content_for :panel_head do
  %h1
    = @profile.first_name
    = @profile.last_name
  = render partial: "shared/actions/show_actions", locals: { editPath: edit_profile_path(@profile), fieldName: 'Field', allPath: profiles_path}
  -if is_admin?
    =link_to raw("<i class='fa fa-user-secret'></i> Impersonate"), impersonate_engine.impersonate_user_path(@profile), {:class =>'btn btn-default'}
.profile-card.pull-left
  -if @profile.long_image_url
    .card-img-logo
      %img{:src => @profile.long_image_url}
.profile-details.pull-left
  %p
    %b First name:
    = @profile.first_name
  %p
    %b Last name:
    = @profile.last_name
  %p
    %b Email:
    = @profile.email
  %p
    %b DOB:
    = @profile.dob
  %p 
    %b Address
    %p= @profile.address
    %p= @profile.address2
    %p= "#{@profile.city}, #{@profile.state} #{@profile.zip}"

  %p
    %b Available for Tournaments?
    - if @profile.is_pickup_player
      Yes
    - else
      No
  .well
    -if @profile.emergency_contact_phone.blank?
      %h5 No Emergency Contact Information Found! Please Update this now!
    - else
      %p
        %b Emergency Contact Name: 
        = @profile.emergency_contact_name
      %p
        %b Emergency Contact Relationship: 
        = @profile.emergency_contact_relationship
      %p
        %b Emergency Contact Phone: 
        = @profile.emergency_contact_phone
  - if @profile.rosters.length > 0
    %b Teams:
    %ul
      -@profile.rosters.each do |roster|
        - team = roster.team
        - divison = team.division
        %li=link_to raw("#{team.name} <span>(#{divison.description} #{divison.season.description}</span>)"), team
  -if @profile.board_members.length > 0
    Board Positions:
    %ul
      -@profile.board_members.each do |board_member|
        %li=link_to board_member.position, board_member
  -if @profile.committees.length > 0
    Committees:
    %ul
      -@profile.committees.each do |committee|
        %li=link_to committee.name, committee

