%p#notice= notice
.panel.panel-warning
  .panel-heading
    %h1
      = @profile.first_name
      = @profile.last_name
    = render partial: "shared/actions/edit", locals: { editPath: edit_profile_path(@profile), editText: "Edit Profile"
      }
    = link_to '<<Back', profiles_path, :class => 'btn btn-default'
    
  .panel-body
    -if @profile.long_image_url
      .card-img-logo
        %img{:src => @profile.long_image_url}
    %p
      %b First name:
      = @profile.first_name
    %p
      %b Last name:
      = @profile.last_name
    %p
      %b Email:
      = @profile.email
    %p
      %b Player number:
      = @profile.player_number
    %p
      %b Team
      -if @profile.team
        = @profile.team.name
