- content_for :panel_head do
  %h1 All ASANA Ratings

%table.table-striped.table.table-bordered.table-condensed
  %thead
    %tr
      %th Profile
      %th Approved?
      %th Rating Total
      %th Rating Classification
      %th Actions

  %tbody
    - @asana_ratings.each do |asana_rating|
      %tr
        %td= link_to "#{asana_rating.profile.last_name}, #{asana_rating.profile.first_name}", asana_rating.profile
        %td.center-column=render :partial => "teams/ratings/shared/row_status", :locals => {:player_rating => asana_rating}
        %td.center-column= asana_rating.total
        %td.center-column= asana_rating.classification
        %td.center-column= render partial: "shared/actions/edit", locals: { editPath: edit_asana_rating_path(asana_rating), editText: ''}

