%p#notice= notice
- content_for :panel_head do
  %h1 
    ASANA Rating For
    = @profile.name
  = render partial: "shared/actions/show_actions", locals: { editPath: edit_asana_rating_path(@asana_rating), fieldName: 'ASANA Rating', allPath: asana_ratings_path}
  = link_to "View #{@profile.name}", @profile
  - if @asana_rating.is_approved.present?
    - if @asana_rating.is_approved
      %p
        This Rating has been Approved by 
        %strong=link_to @approved_profile.name, @approved_profile
    - else @asana_rating.is_approved == false
      %p
        This Rating has been Rejected by 
        %strong=link_to @approved_profile.name, @approved_profile
  .rating_details
    %h4
      %b Rating Total:
      = @asana_rating.total
    %h4
      %b Rating Class:
      = @asana_rating.classification


= render layout: 'shared/rating_group', locals: {rating_title: 'Throwing', rating_class: 'throwing'} do
  = render partial:'show_group', locals: {questions: @questions[:throwing], rating:@asana_rating}

= render layout: 'shared/rating_group', locals: {rating_title: 'Fielding', rating_class: 'fielding'} do
  = render partial:'show_group', locals: {questions: @questions[:fielding], rating:@asana_rating}

= render layout: 'shared/rating_group', locals: {rating_title: 'Batting', rating_class: 'hitting'} do
  = render partial:'show_group', locals: {questions: @questions[:batting], rating:@asana_rating}

= render layout: 'shared/rating_group', locals: {rating_title: 'Baserunning', rating_class: 'running'} do
  = render partial:'show_group', locals: {questions: @questions[:running], rating:@asana_rating}

= render layout: 'shared/rating_group', locals: {rating_title: 'Fundamentals', rating_class: 'fundamentals'} do
  = render partial:'show_group', locals: {questions: @questions[:fundamentals], rating:@asana_rating}

= render layout: 'shared/rating_group', locals: {rating_title: 'Experience', rating_class: 'experience'} do
  %ul.list-group
    %li.list-group-item
      %h5=@questions[:experience][0][:question][0]
      = response_ws(@asana_rating.rating_21)
    %li.list-group-item
      %h5=@questions[:experience][1][:question][0]
      = response_runnerup(@asana_rating.rating_22)

