- content_for :panel_head do
  %h1 Current Hall of Famers
  = render partial: "shared/actions/view_all_actions", locals: { newPath: new_hallof_famer_path}

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Profile
    %th Order
    %th
    %th Name
    %th Year Inducted
    %th Details
    %th Active?
    %th Inducted?
    %th.actions-column

  - @hallof_famers.each do |hallof_famer|
    %tr
      %th
        -if hallof_famer.profile
          =hallof_famer.profile.id
      %th=hallof_famer.display_order
      %th
        -if hallof_famer.image_url
          .image30-wrapper
            %img{:src => hallof_famer.image_url}
      %td{:class => hallof_famer.profile ? '' : 'danger danger-column'}
        -if hallof_famer.profile
          =hallof_famer.profile.id= link_to "#{hallof_famer.profile.name}", hallof_famer
        - else
          = render partial: "shared/warning_column", locals: { text: 'No Profile'}

      %td= hallof_famer.date_inducted.strftime("%Y")
      %td
        %p= hallof_famer.details
      %td=yes_or_no_icon(hallof_famer.is_active).html_safe
      %td=yes_or_no_icon(hallof_famer.is_inducted).html_safe
      %td= render partial: "shared/actions/table_actions", locals: { editPath: edit_hallof_famer_path(hallof_famer), deletePath: hallof_famer}

