%p#notice= notice

%p
  %b Profile:
  = @hallof_famer.profile_id
%p
  %b Date inducted:
  = @hallof_famer.date_inducted
%p
  %b Is active:
  = @hallof_famer.is_active
%p
  %b Is inducted:
  = @hallof_famer.is_inducted

= link_to 'Edit', edit_hallof_famer_path(@hallof_famer)
\|
= link_to 'Back', hallof_famers_path
