.panel.panel-success
  .panel-body
    %table.table-condensed.table-striped.table.table-bordered
      = render partial:'modal/rating_question', locals: {question: "occasionally on purpose catch balls that are thrown to the player with a rainbow arc?", number: 6}
      = render partial:'modal/rating_question', locals: {question: "occasionally on purpose catch balls that are thrown to the player with a rainbow arc?", number: 7}
      = render partial:'modal/rating_question', locals: {question: "consistently on purpose field slow hit balls that are within a few steps or consistently on purpose catch fly balls that are within 15 feet?", number: 8}
      = render partial:'modal/rating_question', locals: {question: "consistently on purpose field medium hit balls that are within a few steps or consistently on purpose catch fly balls that are more than 15 feet away?", number: 9}
      = render partial:'modal/rating_question', locals: {question: "occasionally on purpose field medium hit balls that are in the hole?", number: 10}
      = render partial:'modal/rating_question', locals: {question: "consistently on purpose field medium hit balls that are in the hole or consistently on purpose catch fly balls that are more than 30 feet away?", number: 11}
      = render partial:'modal/rating_question', locals: {question: "occasionally on purpose field hard hit balls that are in the hole or occasionally on purpose stop line drives in the gaps from getting by the outfielders?", number: 12} 
      = render partial:'modal/rating_question', locals: {question: "consistently on purpose field medium hit balls that are in the hole or consistently on purpose catch fly balls that are more than 30 feet away?", number: 13} 
      = render partial:'modal/rating_question', locals: {question: "occasionally on purpose make spectacular catches?", number: 14} 

.alert.alert-danger.js-fielding-modal-error.js-modal-error{:style=>'display:none'}