.panel.panel-danger
  .panel-body
    %table.table-condensed.table-striped.table.table-bordered
      = render partial:'modal/rating_question', locals: {question: "occasionally hit a fair ball?", number: 19}
      = render partial:'modal/rating_question', locals: {question: "consistently hit a fair ball?", number: 20}
      = render partial:'modal/rating_question', locals: {question: "occasionally hit a fair ball with at least medium velocity?", number: 21}
      = render partial:'modal/rating_question', locals: {question: "consistently hit a fair ball with at least medium velocity?", number: 22}
      = render partial:'modal/rating_question', locals: {question: "consistently reach base safely on a batted ball against a limited level of defense or occasionally reach base safely on a batted ball against an intermediate level of defense?", number: 23}
      = render partial:'modal/rating_question', locals: {question: "consistently reach base safely on a batted ball against an intermediate level of defense oroccasionally reach base safely on a batted ball against an exceptional level of defense?", number: 24}
      = render partial:'modal/rating_question', locals: {question: "consistently reach base safely on a batted ball with high velocity against an intermediate level of defense or consistently reach base safely on a batted ball against an exceptional level of defense?", number: 25} 
      = render partial:'modal/rating_question', locals: {question: "consistently reach base safely on a batted ball with high velocity against an exceptional level of defense?", number: 26} 
      = render partial:'modal/rating_question', locals: {question: "occasionally hit a ball over a 300’ fence?", number: 27} 

.alert.alert-danger.js-hitting-modal-error.js-modal-error{:style=>'display:none'}