.panel.panel-success
  .panel-body
    %table.table-condensed.table-striped.table.table-bordered
      = render partial:'modal/rating_question', locals: {question: " occasionally throw a ball through the air 65 feet or better in the vicinity of another player? (65 feet is the distance between bases)", number: 1}
      = render partial:'modal/rating_question', locals: {question: "consistently throw a ball through the air 90 feet or better in the vicinity of another player? (90 feet is the distance between 3rd and 1st) or occasionally throw to the proper place turning accurate infield plays against runners with average base running speed?", number: 2}
      = render partial:'modal/rating_question', locals: {question: "occasionally throw a ball through the air 90 feet or better without a rainbow arc in the vicinity of another player or consistently throw to the proper place turning accurate infield plays against runner with average base running speed?", number: 3}
      = render partial:'modal/rating_question', locals: {question: "occasionally throw a ball through the air 90 feet or better without a rainbow arc in the vicinity of another player or consistently throw to the proper place turning accurate infield plays against runner with average base running speed?", number: 4}
      = render partial:'modal/rating_question', locals: {question: "consistently throw without a rainbow arc to the proper place turning accurate infield plays against aggressive runners with above average speed or consistently make long throws without a rainbow arc from the outfield directly and accurately to the proper base completing proper plays against aggressive runners with above average speed?", number: 5}
        
.alert.alert-danger.js-throwing-modal-error.js-modal-error{:style=>'display:none'}

