- statuses = get_park_statuses

- content_for :panel_head do
  %h1= @park.name
  = render partial: "shared/actions/show_actions", locals: { editPath: edit_park_path(@park), fieldName: 'Park', allPath: parks_path}
.row-container
  .row
    .col-md-2
      %b Park Status: 
    .col-md-10
      =  statuses[@park.status]
      = render partial: "status_indicator", locals: {statusValue: @park.status , statusString: statuses[@park.status]}


  - if !@park.address.empty? || !@park.city.empty?
    .row
      .col-md-2
        %b Address:
      .col-md-10
        = @park.address
        = "#{@park.city}, #{@park.state} #{@park.zip}"

  -if @park.by_car
    .row
      .col-md-2
        %b By Car:
      .col-md-10= raw(@park.by_car)

  - if !@park.by_bus.empty?
    .row
      .col-md-2
        %b By Bus or Train:
      .col-md-10= raw(@park.by_bus)

  -if !@park.parking.empty?
    .row
      .col-md-2
        %b Parking:
      .col-md-10= raw(@park.parking)
      
  - if @park.google_map_url
    .row
      .col-md-2
        %b Google Map:
      .col-md-10
        = link_to 'Open Map', @park.google_map_url, {:target => '_blank'}

  .row
    .col-md-2
      %b Fields
    .col-md-10
      = link_to "+ Add Field", new_field_path(:park_id => @park.id), :class => 'btn btn-default'
      %ul
        - @park.fields.each do |field|
          %li= link_to field.name, field

