- statuses = get_park_statuses

- content_for :panel_head do
  %h1= @park.name
  = render partial: "shared/actions/show_actions", locals: { editPath: edit_park_path(@park), fieldName: 'Park', allPath: parks_path}
.row-container
  .row
    .col-md-2
      %b Park Status: 
    .col-md-10
      =  statuses[@park.status]
      = render partial: "status_indicator", locals: {statusValue: @park.status , statusString: statuses[@park.status]}


  - if !@park.address.blank? || !@park.city.blank?
    .row
      .col-md-2
        %i.fa.fa-location-arrow
        %b Address:
      .col-md-10
        = @park.address
        = "#{@park.city}, #{@park.state} #{@park.zip}"

  -if @park.by_car
    .row
      .col-md-2
        %b 
          %i.fa.fa-car
          By Car:
      .col-md-10= raw(@park.by_car)

  - if !@park.by_bus.blank?
    .row
      .col-md-2
        %b 
          %i.fa.fa-subway
          By Bus or Train:
      .col-md-10= raw(@park.by_bus)

  -if !@park.parking.blank?
    .row
      .col-md-2
        %b Parking:
      .col-md-10= raw(@park.parking)
      
  - if @park.google_map_url
    .row
      .col-md-2
        %b 
          %i.fa.fa-map-marker
          Google Map:
      .col-md-10
        = link_to 'Open Map', @park.google_map_url, {:target => '_blank', :class => 'external-link'}

  .row
    .col-md-2
      %b 
        %i.fa.fa-folder-open
        Fields
    .col-md-10
      %ul
        - @park.fields.each do |field|
          %li= link_to field.name, park_field_path(@park, field)
        - if is_admin?
          %li= link_to "+ Add Field", new_park_field_path(:park_id => @park.id), :class => 'btn btn-default'

