-if !selected_division.nil? && defined?(selected_division)
  - selected_season = selected_division.season
  - divisions = selected_season.divisions

= render 'shared/forms/season_selector', {:selected_season => selected_season, :seasons => seasons, :name => 'division_selector[season]'}


%select.chosen-select.form-control.js-division-selector{:id =>"#{selector_id}", :name => "#{selector_name}", :data => {:placeholder => "Select A Division"}}
  %option
  -if !divisions.nil? && defined?(divisions)
    -divisions.each do |division|
      -if defined?(selected_division) && selected_division.id == division.id
        %option{:value => "#{division.id}", :selected => true}=division.description
      -else 
        %option{:value => "#{division.id}"}=division.description