-if profile.present?
  - player_rating = profile.asana_ratings.first
  - rating_id = nil
  - rating_class = nil
  - if player_rating.present?
    - rating_id = player_rating.id
    - if player_rating.is_approved == true
      - rating_class = 'success is-approved'
    - elsif player_rating.is_approved == false
      - rating_class = 'danger is-rejected'
    - else 
      -rating_class = 'is-pending'
  %tr.js-rating-row{:data => {'player_id' => profile.id, :asana_rating_id => rating_id}, :class => "js-player-row-#{profile.id} js-rating-row-#{rating_id} #{rating_class}"}
    %td
      %strong=link_to profile.name, profile
    %td.center-column.medium-large-screen-only
      %span=profile.dob
    - if player_rating
      %td.center-column=player_rating.total
      %td.center-column=player_rating.classification
      %td.center-column.throwing-column=player_rating.throwing_total
      %td.center-column.fielding-column=player_rating.fielding_total
      %td.center-column.batting-column=player_rating.baserunning_total
      %td.center-column.baserunning-column=player_rating.batting_total
      %td.center-column.fundamentals-column=player_rating.fundamentals_total
      %td.center-column.experience-column=player_rating.experience_total
      %td=render :partial => "teams/ratings/shared/row_status", :locals => {:player_rating => player_rating}
      %td.center-column= render :partial => "teams/ratings/shared/row_actions", :locals => {:player_rating => player_rating}
    - else
      %td.warning.no-ranking-warning.center-column{:colspan => '10'}
        No Rating Found.
        - if @CanEditRatings
          = link_to '+ Add Rating', "/asana_rating_to_profile/#{profile.id}", {:class => 'btn btn-sm btn-default'}