ID,Player,DOB,Class,T1,T2,T3,T4,F5,F6,F7,F8,F9,F10,B11,B12,B13,B14,B15,B16,B17,R18,R19,R20,E21,E22
-@teamRoster.each do |roster|
  - if roster.profile
    - rating = roster.profile.asana_ratings.first
    - initial_string = "#{roster.profile.id},#{roster.profile.name},#{roster.profile.dob}"
    - if rating.present?
      ="#{initial_string},#{rating.rank},#{rating.rating_1},#{rating.rating_2},#{rating.rating_3},#{rating.rating_4},#{rating.rating_5},#{rating.rating_6},#{rating.rating_7},#{rating.rating_8},#{rating.rating_9},#{rating.rating_10},#{rating.rating_11},#{rating.rating_12},#{rating.rating_13},#{rating.rating_14},#{rating.rating_15},#{rating.rating_16},#{rating.rating_17},#{rating.rating_18},#{rating.rating_19},#{rating.rating_20},#{rating.rating_21},#{rating.rating_22}"
    - else
      = "#{initial_string}, , , , , , , , , , , , , , , , , , , , , , , ,"
  - else
    N/A, , , , , , , , , , , , , , , , , , , , , ,
