.panel.panel-default
  .panel-heading
    %h3= link_to "#{division.season.description} #{division.description}", division
  .panel-body
    %table.table.table-striped.table-bordered
      %tr
        %th
          Team
        %th
          Wins
        %th
          Losses
        %th
          Ties
        %th
          Win %
        %th
          Runs Scored
        %th
          Runs Allowed
        %th
          Games Behind
      -division.teams.each do |team|
        %tr
          %td= link_to "#{team.name}", team
          %td=team.stat_win
          %td=team.stat_loss
          %td=team.stat_tie
          %td=team.win_perc
          %td=team.stat_pt_scored
          %td=team.stat_pt_allowed
          %td=team.stat_games_back
