!!!
%html
  %head
    =stylesheet_link_tag "calendar.css"
  %body
    %h4 Upcoming Events
    %ul.calendar-event-list
      -@events['items'].each do |event|
        = #event
        %li
          =event['summary']
          -if event['start'] && event['start']['dateTime']
            = event['start']['dateTime']
          - elsif event['start'] && event['start']['date']

    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
    = javascript_include_tag "moment.js"
    = javascript_include_tag "calendar.js"

