
=link_to raw('<i class="glyphicon glyphicon-chevron-left"></i> Back to Teams'), "/welcome", :class => 'btn btn-default btn-back'
-#
.panel.panel-primary#team-welcome-panel
  .panel-heading
    %h2.team-name= @team['team_name']
    %h4.team-season= @team['team_season']
    %h5.team-division= @team['team_division']
  .panel-body
    %table.table.table-striped.table-bordered
      %tr
        %th{:style => 'width: 50px'} Paid?
        %th
          Player Name
        %th
          DOB
        %th
          NAGAAA Rating
        %th
          Throwing
        %th
          Fielding
        %th
          Baserunning
        %th
          Hitting
      -@roster.each do |playerData|
        -player = playerData["roster"]
        -rankingData = @playerHash["#{player['id']}"]
        -customData = player['league_custom_data']
        %tr.player{:class => "#{unranked_class(rankingData[:fullRating])} js-player-row", :data => {:playerid => player['id']}}
          %td
            %span{:style=> "text-align: center"}=raw(yes_or_no_icon(rankingData[:has_paid]))
          %td="#{player['first']} #{player['last']}"
          %td=player['birthdate']
          %td
            .btn.btn-default=rankingData[:fullRating]
          %td
            .btn.btn-primary.js-throwing-btn=rankingData[:throwing][:rating]
          %td
            .btn.btn-success.js-fielding-btn=rankingData[:fielding][:rating]
          %td
            .btn.btn-warning.js-running-btn=rankingData[:running][:rating]
          %td
            .btn.btn-danger.js-hitting-btn=rankingData[:hitting][:rating]
  .panel-footer
    %div
      Total Team Rating (Total Rating of Top 10 Players):
      =@teamRating
    %a{:href=>"/teams/#{@team['id']}/#{@rosterId}.csv"}
      %i{:class=>"glyphicon glyphicon-export"}
      Export Team Data
= render :partial => "modal/throwingmodal"
= render :partial => "modal/fieldingmodal"
= render :partial => "modal/runningmodal"
= render :partial => "modal/hittingmodal"

:javascript
  window.playersJson =#{@playerHash.to_json}

