= form_for @rating,:html => {:class => 'form-horizontal'} do |f|
  - if @rating.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rating.errors.count, "error")} prohibited this NAGAAA rating from being saved:"
      %ul
        - @rating.errors.full_messages.each do |msg|
          %li= msg
  - if @rating.profile.present?
    =f.hidden_field :profile_id
  - else
    .field
      = f.label :profile_id
      = f.number_field :profile_id
  -#.field
    = f.label :is_approved
    = f.check_box :is_approved
  -#.field
    = f.label :approved_profile_id
    = f.number_field :approved_profile_id
  = render layout: 'shared/rating_group', locals: {rating_title: 'Throwing', rating_class: 'throwing'} do
    = render partial:'shared/ratings/question_group', locals: {questions: @questions[:throwing], f: f}

  = render layout: 'shared/rating_group', locals: {rating_title: 'Fielding', rating_class: 'fielding'} do
    = render partial:'shared/ratings/question_group', locals: {questions: @questions[:fielding], f: f}

  = render layout: 'shared/rating_group', locals: {rating_title: 'Baserunning', rating_class: 'running'} do
    = render partial:'shared/ratings/question_group', locals: {questions: @questions[:running], f: f}

  = render layout: 'shared/rating_group', locals: {rating_title: 'Hitting', rating_class: 'hitting'} do
    = render partial:'shared/ratings/question_group', locals: {questions: @questions[:hitting], f: f}
      
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', {:class => 'btn btn-primary'}
