%h1 Listing ratings

%table
  %tr
    %th Profile
    %th Rating notes
    %th Approver notes
    %th Rating list
    %th Rating total
    %th Date rated
    %th Date approved
    %th Rated by profile
    %th Approved by profile
    %th Is provisional
    %th Is approved
    %th Is active
    %th History
    %th Updated
    %th Rating 1
    %th Rating 2
    %th Rating 3
    %th Rating 4
    %th Rating 5
    %th Rating 6
    %th Rating 7
    %th Rating 8
    %th Rating 9
    %th Rating 10
    %th Rating 11
    %th Rating 12
    %th Rating 13
    %th Rating 14
    %th Rating 15
    %th Rating 16
    %th Rating 17
    %th Rating 18
    %th Rating 19
    %th Rating 20
    %th Rating 21
    %th Rating 22
    %th Rating 23
    %th Rating 24
    %th Rating 25
    %th Rating 26
    %th Rating 27
    %th Ssma timestamp
    %th Ng
    %th Nr
    %th
    %th
    %th

  - @ratings.each do |rating|
    %tr
      %td= rating.profile_id
      %td= rating.rating_notes
      %td= rating.approver_notes
      %td= rating.rating_list
      %td= rating.rating_total
      %td= rating.date_rated
      %td= rating.date_approved
      %td= rating.rated_by_profile_id
      %td= rating.approved_by_profile_id
      %td= rating.is_provisional
      %td= rating.is_approved
      %td= rating.is_active
      %td= rating.history
      %td= rating.updated
      %td= rating.rating_1
      %td= rating.rating_2
      %td= rating.rating_3
      %td= rating.rating_4
      %td= rating.rating_5
      %td= rating.rating_6
      %td= rating.rating_7
      %td= rating.rating_8
      %td= rating.rating_9
      %td= rating.rating_10
      %td= rating.rating_11
      %td= rating.rating_12
      %td= rating.rating_13
      %td= rating.rating_14
      %td= rating.rating_15
      %td= rating.rating_16
      %td= rating.rating_17
      %td= rating.rating_18
      %td= rating.rating_19
      %td= rating.rating_20
      %td= rating.rating_21
      %td= rating.rating_22
      %td= rating.rating_23
      %td= rating.rating_24
      %td= rating.rating_25
      %td= rating.rating_26
      %td= rating.rating_27
      %td= rating.ssma_timestamp
      %td= rating.ng
      %td= rating.nr
      %td= link_to 'Show', rating
      %td= link_to 'Edit', edit_rating_path(rating)
      %td= link_to 'Destroy', rating, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Rating', new_rating_path
