%p#notice= notice

%p
  %b Profile:
  = @rating.profile_id
%p
  %b Rating notes:
  = @rating.rating_notes
%p
  %b Approver notes:
  = @rating.approver_notes
%p
  %b Rating list:
  = @rating.rating_list
%p
  %b Rating total:
  = @rating.rating_total
%p
  %b Date rated:
  = @rating.date_rated
%p
  %b Date approved:
  = @rating.date_approved
%p
  %b Rated by profile:
  = @rating.rated_by_profile_id
%p
  %b Approved by profile:
  = @rating.approved_by_profile_id
%p
  %b Is provisional:
  = @rating.is_provisional
%p
  %b Is approved:
  = @rating.is_approved
%p
  %b Is active:
  = @rating.is_active
%p
  %b History:
  = @rating.history
%p
  %b Updated:
  = @rating.updated
%p
  %b Rating 1:
  = @rating.rating_1
%p
  %b Rating 2:
  = @rating.rating_2
%p
  %b Rating 3:
  = @rating.rating_3
%p
  %b Rating 4:
  = @rating.rating_4
%p
  %b Rating 5:
  = @rating.rating_5
%p
  %b Rating 6:
  = @rating.rating_6
%p
  %b Rating 7:
  = @rating.rating_7
%p
  %b Rating 8:
  = @rating.rating_8
%p
  %b Rating 9:
  = @rating.rating_9
%p
  %b Rating 10:
  = @rating.rating_10
%p
  %b Rating 11:
  = @rating.rating_11
%p
  %b Rating 12:
  = @rating.rating_12
%p
  %b Rating 13:
  = @rating.rating_13
%p
  %b Rating 14:
  = @rating.rating_14
%p
  %b Rating 15:
  = @rating.rating_15
%p
  %b Rating 16:
  = @rating.rating_16
%p
  %b Rating 17:
  = @rating.rating_17
%p
  %b Rating 18:
  = @rating.rating_18
%p
  %b Rating 19:
  = @rating.rating_19
%p
  %b Rating 20:
  = @rating.rating_20
%p
  %b Rating 21:
  = @rating.rating_21
%p
  %b Rating 22:
  = @rating.rating_22
%p
  %b Rating 23:
  = @rating.rating_23
%p
  %b Rating 24:
  = @rating.rating_24
%p
  %b Rating 25:
  = @rating.rating_25
%p
  %b Rating 26:
  = @rating.rating_26
%p
  %b Rating 27:
  = @rating.rating_27
%p
  %b Ssma timestamp:
  = @rating.ssma_timestamp
%p
  %b Ng:
  = @rating.ng
%p
  %b Nr:
  = @rating.nr

= link_to 'Edit', edit_rating_path(@rating)
\|
= link_to 'Back', ratings_path
