= form_for @board_member,:html => {:class => 'form-horizontal'} do |f|
  - if @board_member.errors.any?
    #error_explanation
      %h2= "#{pluralize(@board_member.errors.count, "error")} prohibited this board_member from being saved:"
      %ul
        - @board_member.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :email, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :email, {:class => 'form-control'}
  .form-group
    = f.label :position, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :position, {:class => 'form-control'}
  .form-group
    = f.label :display_order, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.number_field :display_order, {:class => 'form-control'}
  .form-group
    = f.label :profile_id, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      %select#board_member_profile_id.chosen-select{:name => 'board_member[profile_id]', :data => {:placeholder => "Choose a Profile"}}
        -@profiles.each do |profile|
          -if @board_member && @board_member.profile_id == profile.id
            %option{:value => profile.id, :selected => 'true'}="#{profile.first_name} #{profile.last_name}"
          -else
            %option{:value => profile.id}="#{profile.first_name} #{profile.last_name}"
  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        %label
          = f.check_box :is_committee_lead
          Show only on the Committee Page?
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', {:class => 'btn btn-primary'}
