= form_for @board_member,:html => {:class => 'form-horizontal'} do |f|
  - if @board_member.errors.any?
    #error_explanation
      %h2= "#{pluralize(@board_member.errors.count, "error")} prohibited this board_member from being saved:"
      %ul
        - @board_member.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :email, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :email, {:class => 'form-control'}
  .form-group
    = f.label :position, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :position, {:class => 'form-control'}
  .form-group
    = f.label :display_order, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.number_field :display_order, {:class => 'form-control'}
  .form-group
    = f.label  "Division Teamsnap Id", {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.number_field :teamsnap_id, {:class => 'form-control'}
  .form-group
    = f.label "Division Teamsnap Name", {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :teamsnap_name, {:class => 'form-control'}
  .form-group
    = f.label :profile_id, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = render partial: "shared/profile_picker", locals: { profiles: @profiles, currentValue: @board_member.profile_id,
        placeHolder: "Choose a User Profile",selectName: 'board_member[profile_id]',
        selectId: 'board_member_profile_id'}
  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        %label
          = f.check_box :is_league_admin
          Is League Admin?
  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        %label
          = f.check_box :is_division_rep
          Is Division Rep?
      %select.chosen-select{:id => 'board_member_division_id', :name => 'board_member[division_id]', :data => {:placeholder => "Select a Division"}}
        %option
        -@divisions.each do |division|
          %option{:value => division.id}
            =division.description
            =division.season.description
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', {:class => 'btn btn-primary'}
