%html
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400", :rel => "stylesheet", :type => "text/css"}/
    =stylesheet_link_tag "boardList.css"
  %body
    %ul.board-members-list
      -@boardMembers.each do |board_member|
        %li.board-member-card
          .board-member-card-image
            %img{:src=>"#{board_member.profile && board_member.profile.long_image_url  ? board_member.profile.long_image_url : 'https://style.anu.edu.au/_anu/4/images/placeholders/person_6x8.png'}"}
          .board-member-card-overlay
          .board-member-card-details
            .board-member-card-name
              -if board_member.email && board_member.profile
                %a{:href=>"mailto:#{board_member.email}"}
                  = board_member.profile.first_name
                  = board_member.profile.last_name
              - elsif board_member.profile
                = board_member.profile.first_name
                = board_member.profile.last_name
              - else 
                TBD
            .board-member-card-position
              = board_member.position
            .board-member-card-email
              = board_member.email
