%p#notice= notice

.panel.panel-warning
  .panel-heading
    %h1= @board_member.position
  .panel-body
    %p
      %b Email:
      = @board_member.email
    %p
      %b Display order:
      = @board_member.display_order
    %p
      %b Profile
      -if @board_member.profile_id
        = link_to "#{@board_member.profile.first_name} #{@board_member.profile.last_name}", @board_member.profile
    %p
      %b Image url:
      = @board_member.image_url
    %p
      %b Is Committee Lead:
      = @board_member.is_committee_lead

= link_to 'Edit', edit_board_member_path(@board_member)
\|
= link_to 'Back', board_members_path
