%h1 Listing games

%table.table.table-striped.table-condensed.table-bordered
  %tr
    %th Day
    %th Start time
    %th Home team
    %th Away team
    %th Is flip
    %th Field
    %th Home score
    %th Away score
    %th Is rainout
    %th Is active
    %th
    %th
    %th

  - @games.each do |game|
    %tr
      = game.hash
      %td= game.day_id
      %td= game.start_time
      %td= game.home_team_id
      %td= game.away_team_id
      %td= game.is_flip
      %td= game.field
      %td= game.home_score
      %td= game.away_score
      %td= game.is_rainout
      %td= game.is_active
      %td= link_to 'Show', game
      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game', new_game_path
