- content_for :panel_head do
  %h1 Game
  = render partial: "shared/actions/show_actions", locals: { editPath: edit_game_path(@game), fieldName: 'Game', allPath: games_path}

- if @game.is_rainout
  .alert.alert-danger
    This Game has been rained out
- if @game.is_flip
  Teams Flip for home team
%table.table.table-striped.table-condensed.table-bordered
  %tr
    %th Away
    %th Home
    %th Field
    %th Time
  %tr
    %td
      -if @game.away_team_id
        = link_to @game.away_team.name, @game.away_team
      = @game.away_score.nil? ? '-' : @game.away_score
    %td
      -if @game.home_team_id
        = link_to @game.home_team.name, @game.home_team
      = @game.home_score.nil? ? '-' : @game.home_score
    %td
      - if @game.field_id
        -if @game.field.park
          =link_to @game.field.park.name, @game.field.park
          =@game.field.name
    %td=@game.start_time.to_s(:event_date)

- if @team && @roster
  %table.table.table-bordered.table-striped.table-condensed.attendance-tracker-panel.js-games-attendance-panel
    %tr
      %th Player
      %th is Attending?
    -@roster.each do |player|
      - player_attendance = @attendance.select{|h| h[:roster_id]==player.id}
      %tr.js-player-row{:class => "#{attendance_class(player_attendance[0])}",:data => {:roster_id => player.id, :game_id => @game.id}}
        %td=player.profile.name
        %td
          %button.btn.btn-success.js-attendance-btn.is-yes Yes
          %button.btn.btn-danger.js-attendance-btn.is-no No

