%p#notice= notice

%p
  %b Day:
  = @game.day_id
%p
  %b Start time:
  = @game.start_time
%p
  %b Home team:
  = @game.home_team_id
%p
  %b Integer:
  = @game.integer
%p
  %b Away team:
  = @game.away_team_id
%p
  %b Is flip:
  = @game.is_flip
%p
  %b Field:
  = @game.field
%p
  %b Home score:
  = @game.home_score
%p
  %b Away score:
  = @game.away_score
%p
  %b Is rainout:
  = @game.is_rainout
%p
  %b Is active:
  = @game.is_active

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
