.panel.panel-warning
  .panel-heading
    %h1 Committees
    = link_to '+ Create New Committee', new_committee_path, :class => 'btn btn-default'
  .panel-body
    %table.table-striped.table.table-bordered.table-condensed
      %tr
        %th Email
        %th Profile
        %th Name
        %th

      - @committees.each do |committee|
        - profile = committee.profile
        %tr
          %td= committee.email
          %td{:class => profile ? '' : 'danger'}
            -if profile
              = link_to "#{profile.first_name} #{profile.first_name}", profile
            -else
              %i.glyphicon.glyphicon-warning-sign
              No Profile!
          %td= link_to committee.name, committee
          %td
            = link_to 'Edit', edit_committee_path(committee), :class => 'btn btn-default'
            = link_to 'Destroy', committee, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
