%p#notice= notice

%p
  %b Role:
  = @roles_permission.role_id
%p
  %b Permissions:
  = @roles_permission.permissions_id

= link_to 'Edit', edit_roles_permission_path(@roles_permission)
\|
= link_to 'Back', roles_permissions_path
