- content_for :panel_head do
  %h1 Roles
  = render partial: 'shared/actions/view_all_actions', locals: { newPath: new_role_path}

%table.table.table-striped.table-condensed.table-bordered.js-roles-table
  %thead
    %tr
      %th Name
      %th Season
      %th Division
      %th Team
      %th.action-column

  %tbody
    - @roles.each do |role|
      %tr
        %td= link_to role.name, role
        %td= role.season_id
        %td= role.division_id
        %td= role.team_id
        %td= render partial: 'shared/actions/table_actions', locals: { editPath: edit_role_path(role), deletePath: role}
