%p#notice= notice
- content_for :panel_head do
  %h1= @role.name
  = render partial: "shared/actions/show_actions", locals: { editPath: edit_role_path(@role), fieldName: 'Role', allPath: roles_path}
  = link_to '+ Create Permission', new_permission_path, {:class => 'btn btn-default'}

%p
  %b Name:
  = @role.name
%input{:type => 'hidden', :value=>@role.id, :class=>'js-role-id'}
- # Show All Current Permissions 
.column
  %b Permissions
  %ul.js-role-permissions
    - @role.permissions.each do |p|
      - if !p.nil?
        = render partial: "roles/role_permission_item", locals: {:role => @role, :permission => p }
  .add-permission-container
    %select.chosen-select.js-add-permission-select
      - @permissions.each do |p|
        - #TODO(Paige) Only Show the permission that aren't on this role
        %option{:value => p.id}=p.name
    %br
    %button.btn-default.btn.js-add-new-permission 
      + Add Permission
.column
  %b Profiles
  %ul.js-role-profiles
    - @role.profiles.each do |profile|
      = render partial: "roles/role_profile_item", locals:{:role => @role, :profile => profile }
  .add-profile-container
    %select.chosen-select.js-add-profile-select
      - @profiles.each do |p|
        - #TODO(paige) Only Show the profiles that don't have this role
        %option{:value => p.id}=p.name
    %br
    %button.btn-default.btn.js-add-role-profile 
      + Add Profile
- # Show All Current Profiles
- # Option to Add a Profile
