%p#notice= notice
- content_for :panel_head do
  %h1= @role.name
  = render partial: "shared/actions/show_actions", locals: { editPath: edit_role_path(@role), fieldName: 'Role', allPath: roles_path}

%p
  %b Name:
  = @role.name
%p
  %b Season:
  = @role.season_id
%p
  %b Division:
  = @role.division_id
%p
  %b Team:
  = @role.team_id
