%table.table.table-striped.table-bordered.table-condensed.ratings-table.js-ratings-table
  %tr
    - if @isAsana
      = render :partial => "teams/ratings/asana/head"
    -else 
      = render :partial => "team/ratings/nagaaa/head"
  -rosters.each do |roster|
    - player_profile = roster.profile
    - if player_profile.present?
      - if @isAsana
        = render :partial => "teams/ratings/asana/row", :locals => {:profile => player_profile}
      - else
        = render :partial => "teams/ratings/nagaaa/row", :locals => {:profile => player_profile}

- if !@isAsana
  = render :partial => "modal/throwingmodal"
  = render :partial => "modal/fieldingmodal"
  = render :partial => "modal/runningmodal"
  = render :partial => "modal/hittingmodal"

  :javascript
    window.playersJson = #{@ratings_json || false}