- content_for :panel_head do
  %h1
    Eligible Players for
    = @division_name

  = render partial: "shared/actions/back", locals: { backPath: '/payments/divisions'}
.well
  = link_to 'Send To Rep', "/payments/division/#{@division_id}/sendEmail", {:class => 'btn btn-default'}
  = link_to 'Send To webteam', "/payments/division/#{@division_id}/sendToWebteam", {:class => 'btn btn-default'}
  %div
    Note the Email will also be sent to webteam@bigapplesoftball.com

-@div_data[:teams_data] .each do |team|
  %ul.list-group
    %li.list-group-item
      %h4= team[:team]['team_name']
      %table.table-striped.table.table-condensed.table-bordered
        %tr
          %th{:style => 'width: 50px;'} Paid?
          %th Player Name
        - team[:player].each do |key, value|
          %tr
            %td{:style=>'text-align: center'}=raw(yes_or_no_icon(value[:has_paid]))
            %td=value[:name]

