!!!
%html
  %head
    %title RatingsManager
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body{:id => "controller-#{params[:controller]}"}
    .container
      -if @response_data[:new_paid_players].length > 0
        %h5 New Payments Found
        %ul.list-group
          - @response_data[:new_paid_players].each do |player|
            %li.list-group-item
              =link_to "#{player["name"]} (Click to Go to Teamsnap Profile)", player["player_url"], {:target => "_blank"}
      -else
        %h5 No New Paid Players Found
    = javascript_include_tag 'application', 'data-turbolinks-track' => true


