- content_for :panel_head do
  %h1 Team Sponsors
  = render partial: 'shared/actions/view_all_actions', locals: { newPath: new_teams_sponsor_path}

%table.table.table-striped.table-bordered
  %tr
    %th Season
    %th Team
    %th Sponsor
    %th Is active Sponsor?
    %th.actions-column

  - @teams_sponsors.each do |teams_sponsor|
    - if !teams_sponsor.team.nil?
      - team = teams_sponsor.team
      - division = team.division
    %tr
      %td
        - if !teams_sponsor.team.nil?
          = division.season.description
      %td
        - if !teams_sponsor.team.nil?
          = link_to teams_sponsor.team.name,teams_sponsor.team
      %td
        - if !teams_sponsor.sponsor.nil?
          = link_to teams_sponsor.sponsor.name,teams_sponsor.sponsor
      %td
        =yes_or_no_icon(teams_sponsor.is_active).html_safe
      %td
        = render partial: 'shared/actions/table_actions', locals: { editPath: edit_teams_sponsor_path(teams_sponsor), deletePath: teams_sponsor}
