= form_for @field,:html => {:class => 'form-horizontal'} do |f|
  - if @field.errors.any?
    #error_explanation
      %h2= "#{pluralize(@field.errors.count, "error")} prohibited this field from being saved:"
      %ul
        - @field.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :status, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      - statuses = get_field_statuses
      %select#field_status.chosen-select{:name => 'field[status]'}
        - statuses.keys.each do |key|
          %option{:value => key}=statuses[key]
  .form-group
    = f.label :name, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :name, {:class => 'form-control'}
  .form-group
    = f.label :directions, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_area :directions, {:class => 'form-control'}
  .form-group
    = f.label :url, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :url, {:class => 'form-control'}
  .form-group
    = f.label :google_map_url, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :google_map_url, {:class => 'form-control'}
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', :class => 'btn btn-primary'
