- content_for :panel_head do
  %h1 Fields
  = render partial: 'shared/actions/view_all_actions', locals: { newPath: new_field_path}
  
- if is_admin?
  .btn-group{"aria-label" => "...", :role => "group"}
    = link_to 'Set All Fields as Open', '#', :class => 'btn btn-success js-set-all-fields-open'
    = link_to 'Set All Fields as Partially Closed', '#', :class => 'btn btn-info js-set-all-fields-partially-closed'
    = link_to 'Set All Fields as Closed', '#', :class => 'btn btn-danger js-set-all-fields-closed'
  %br
  %br

.alert.alert-danger.js-all-closed-notice.js-notices{:style => "#{@allFieldsClosed ? 'display:block' : 'display:none'}"}
  All Fields are marked as CLOSED.

.alert.alert-info.js-partially-closed-notice.js-notices{:style => "#{@fieldsPartial ? 'display:block' : 'display:none'}"}
  Fields are marked as CLOSED or partially CLOSED.

.alert.alert-success.js-all-open-notice.js-notices{:style => "#{@allFieldsOpen ? 'display:block' : 'display:none'}"}
  All fields are marked as Open.

%table.table.table-striped.table-condensed.table-bordered.js-fields-table
  %tr
    %th Status
    %th Name
    %th Address
    %th Google map url
    %th Lat/Long
    %th.actions-column
  - statuses = get_field_statuses
  - @fields.each do |field|
    %tr
      %td
        = render partial: 'status_indicator', locals: {statusValue: field.status , statusString: statuses[field.status]}
      %td= link_to field.name, field
      %td
        - if field.address
          = field.address
          %br
          = "#{field.city}, #{field.state} #{field.zip}"
      %td
        -if field.google_map_url 
          = link_to 'Google Map', field.google_map_url, {:target => '_blank'}
      %td{:class => field.lat && field.long ? '' : 'danger danger-column'}
        -if field.lat && field.long
          = field.lat
          = field.long
        -else
          = render partial: "shared/warning_column", locals: { text: 'No Lat or Long'}
      %td
        = render partial: 'shared/actions/table_actions', locals: { editPath: edit_field_path(field), deletePath: field}


