- content_for :panel_head do
  %h1 Fields
  = render partial: "shared/actions/view_all_actions", locals: { newPath: new_field_path}

%table.table.table-striped.table-condensed.table-bordered
  %tr
    %th Name
    %th Status
    %th Directions
    %th Url
    %th Google map url
    %th

  - @fields.each do |field|
    %tr
      %td= link_to field.name, field
      %td= field.status
      %td= field.directions
      %td= link_to 'Field URL', field.url, {:target => '_blank'}
      %td= link_to 'Field URL', field.google_map_url, {:target => '_blank'}
      %td
        = render partial: "shared/actions/table_actions", locals: { editPath: edit_field_path(field), deletePath: field}


