!!!
%html
  %head
    =stylesheet_link_tag "fieldsMap.css"
  %body
    .fields-wrapper
      .fields-sidebar
        %h4 Fields
        %ul.field-list
          - @fields.each do |field|
            %li.field-item{:data => {:lat => "#{field.lat}", :long => "#{field.long}"}}
              .field-item-name= field.name
              .field-item-address
                = field.address
                = "#{field.city}, #{field.state} #{field.zip}"
      #map-canvas
    - @fields.each do |field|
      = "#{field.name}, #{field.lat}, #{field.long}"
      %br
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCoGxbgo50sQ98aSQxXUwyeZexTwkWYUlI"
    = javascript_include_tag "fieldsMap.js"