- content_for :panel_head do
  %h1= @field.name
  = render partial: "shared/actions/show_actions", locals: { editPath: edit_field_path(@field), fieldName: 'Field', allPath: fields_path}

%p#notice= notice
%p
  %b Status:
  = @field.status
%p
  %b Name:
  = @field.name
%p
  %b Directions:
  = @field.directions
%p
  %b Url:
  = link_to 'Field URL', @field.url, {:target => '_blank'}
%p
  %b Google map url:
  = link_to 'Map URL', @field.google_map_url, {:target => '_blank'}
