- content_for :panel_head do
  %h1 Importing Divisions

%form{:actiom=>'/teamsnap/import', :method => 'post'}
  = render 'shared/forms/season_selector', {:selected_season=> nil,  :seasons => @seasons, :name=> 'season_id'}
  %button{:type => 'submit', :class=>'btn btn-default', :value => ''} Run Season Import

%h2 Data Preview
%ul.list-group
  -@divisions.each do |division|
    %li.list-group-item
      = division[:description]
      .teamsnap_id= division[:teamsnap_id]
      .division_type=division[:type]
      %ul.list-group
        - division[:teams].each do |team|
          %li.list-group-item
            = team[:name]
            = team[:teamsnap_id]
            %div
              %table.table.table-striped.table-condensed.table-bordered
                %tr
                  %th First Name
                  %th Last Name
                  %th Shirt Size
                  %th Gender
                  %th DOB
                  %th Emergency Contact
                  %th Address
                  %th Emails
                  %th Rating
                  %th Roster
                - team[:roster].each do |player|
                  %tr
                    %td= player[:profile][:first_name]
                    %td= player[:profile][:last_name]
                    %td= player[:profile][:shirt_size]
                    %td= player[:profile][:gender]
                    %td= player[:profile][:dob]
                    %td.emercency_contact
                      = player[:profile][:emergency_contact_name]
                      = player[:profile][:emergency_contact_relationship]
                      = player[:profile][:emergency_contact_phone]
                    %td.address
                      = player[:profile][:address]
                      = player[:profile][:address2]
                      = player[:profile][:city]
                      = player[:profile][:state]
                      = player[:profile][:zip]
                    %td.emails
                      - player[:profile][:emails].each do |email|
                        = email
                    %td.rating
                      .rating_0= player[:rating][:teamsnap_id]
                    %td.roster
                      = player[:roster][:jersey_number]
                      = player[:roster][:teamsnap_id]