!!!
%html
  %head
    %title BASLManager
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    -#%link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400", :rel => "stylesheet", :type => "text/css"}/
  %body{:id => "controller-#{params[:controller]}", :class=>"action-#{params[:action]}"}
    .container
      = render 'shared/nav'
      - if flash[:notice]
        .alert.alert-info.global-notice= flash[:notice]
      - if flash[:success]
        .alert.alert-success.global-notice= flash[:success]
      - if flash[:error]
        .alert.alert-danger.global-notice= flash[:error]
      .panel.panel-default.main-panel
        .panel-heading
          = yield :panel_head 
        .panel-body= yield
      = render 'shared/footer'
    = javascript_include_tag 'application'
    = #javascript_include_tag 'sponsorsCarousel.js'
