!!!
%html
  %head
    %title RatingsManager
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body{:id => "controller-#{params[:controller]}"}
    .container
      = render 'shared/nav'
      - if flash[:notice]
        .alert.alert-info.global-notice= flash[:notice]
      = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true