!!!
%html
  %head
    %title BASLManager
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    -#%link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400", :rel => "stylesheet", :type => "text/css"}/
  %body{:id => "controller-#{params[:controller]}", :class=>"action-#{params[:action]}"}
    = yield
    = render 'shared/footer'
